.container
    h1.title
        span Joan 
        span.my-last-name Rieu
    .subtitle software engineer
    .links
        a(href="https://joanrieu.com/static/Joan%20Rieu%20-%20Resume.pdf").button.is-warning
            .icon
                i.fa.fa-file-pdf-o
            span Resume
        a(href="https://www.linkedin.com/in/joanrieu").button.is-dark
            .icon
                i.fa.fa-linkedin
            span LinkedIn
        a(href="https://github.com/joanrieu").button.is-dark
            .icon
                i.fa.fa-github
            span GitHub
        a(href="https://twitter.com/joanrieu").button.is-dark
            .icon
                i.fa.fa-twitter
            span Twitter