$blue-nights-grey: #363B48
$cloud-dancer-grey: #F0EEE9
$fruit-dove-red: #CF5C78
$illuminating-yellow: #F5DF4D
$ultimate-gray: #939597
$peacock-blue: #00A0B0

:root
  font-family: "Courier Prime", monospace
  line-height: 1
  color: $blue-nights-grey

*
  font: inherit
  text-decoration: inherit
  color: inherit

html, body
  height: 100%

body
  display: grid

  // gradient from $illuminating-yellow to $fruit-dove-red to $peacock-blue
  // https://mycolor.space/gradient3?ori=to+right+top&hex=%23F5DF4D&hex2=%23CF5C78&hex3=%2300A0B0&submit=submit
  background-image: linear-gradient(to right top, #f5df4d, #ffc14a, #ffa451, #fd895d, #ee726a, #e56a85, #d2699c, #b56dae, #8b7fc8, #548fd0, #0a9ac6, #00a0b0)

  .profile
    place-self: end stretch
    margin: 2em
    padding: 1em 2em
    background-color: $cloud-dancer-grey
    font-size: 20px
    max-width: 25em

    @media (min-width: 666px)
      margin: 3em
      padding: 1.5em 3em
      font-size: 3vw

    @media (min-width: 1000px)
      font-size: 30px

    .name
      margin: 0.5em 0
      font-size: 2em
      font-weight: bold

    .nav
      li
        margin: 0.5em 0
