// sass builtin random() cannot use a fixed seed for random numbers
$prng: (1 0.13726589481447515 0.3836633620108667 0.22318392042785584 0.5216656662652195 0.6117637428485878 0.019882692024860926 0.49642990837639367 0.1468457428684098 0.32368731888101476 0.7877530748384514 0.6722762842782866 0.1290085635680882 0.19505449987566048 0.6230148745604294 0.580177095756621 0.46634515456454917 0.49732221255497966 0.13817622299648558 0.3956659106869722 0.41140260513263205 0.21750536361214956 0.9761483925707215 0.45723860976194186 0.8476311359979025 0.13150913098263262 0.6099927897972737 0.30588089851609945 0.11329139349110018 0.9652698953997378 0.2525659324308507 0.8503294503838081 0.12129861397665076 0.700785205234814 0.09250425292469999 0.2178616016415611 0.045113975932583816 0.25148415800882007 0.8710636594695427 0.18959005833304587 0.3836633620108667 0.22318392042785584 0.6132311559809818 0.002869206194140217 0.3636167949681335 0.14970129541149624 0.11840789254512218 0.40527193231323033 0.509102104065529 0.2595759218539144 0.2271125288743383 0.5436325014977219 0.9811753379788266 0.30093243580791684 0.5684008782941818 0.6760268740384183 0.5722225526980336 0.9481001858868843 0.7771161376635534 0.517170868877554 0.807968801010136 0.7809298696691089 0.6121533613370467 0.06358209769649048 0.7363755928593436 0.08010670182647872 0.37722322744074077 0.650936582452355 0.2915665565925287 0.03674124431646941 0.9740597790297731 0.5728060982083787 0.8379786374302767 0.5201302473466043 0.9706582631327174 0.9134625888016175 0.013506182848777026 0.2324085020570832 0.0957342537734418 0.8241052557815178 0.1326597833815233 0.8000533878171705 0.8625120156945159 0.5216369133343977 0.04387597110906971 0.07025976446726578 0.16248192795246008 0.5690455035219926 0.4705247582179377 0.43804605024892185 0.5097590136139414 0.8609712378693457 0.48426878402628915 0.1276111040403498 0.6597400846485661 0.0032743851651697575 0.18109603591959322 0.8921721337085162 0.6883733666231624 0.42721143039267595 0.34959766815686 0.5196298772400407  0.43235892381320973)

// https://connect.pantone.com/#/color-of-the-year
$blue-nights-grey: #363B48
$cloud-dancer-grey: #F0EEE9
$fruit-dove-red: #CF5C78
$illuminating-yellow: #F5DF4D
$ultimate-gray: #939597
$peacock-blue: #00A0B0

:root
  min-height: 0vw // fluid font-size fix for Safari
  font-size: 4vmin
  font-family: "Courier Prime", monospace
  color: $blue-nights-grey

  @media (orientation: portrait)
    font-size: 5vmin

*
  font: inherit
  text-decoration: inherit
  color: inherit

html, body
  height: 100%

body
  display: flex
  flex-direction: column
  padding: 3rem

  // gradient from $illuminating-yellow to $fruit-dove-red to $peacock-blue
  // https://mycolor.space/gradient3?ori=to+right+top&hex=%23F5DF4D&hex2=%23CF5C78&hex3=%2300A0B0&submit=submit
  background-image: linear-gradient(to right top, #f5df4d, #ffc14a, #ffa451, #fd895d, #ee726a, #e56a85, #d2699c, #b56dae, #8b7fc8, #548fd0, #0a9ac6, #00a0b0)

  .profile
    z-index: 1
    max-width: 20rem
    margin-top: auto
    padding: 1.5rem 0
    background-color: $cloud-dancer-grey

    h1
      margin: 1rem 3rem
      font-size: 2rem
      font-weight: bold
      line-height: 1

    nav a
      display: block
      padding: 0 3rem
      line-height: 1.5

      @media (orientation: portrait)
        line-height: 3

      &:hover, &:focus
        color: $illuminating-yellow
        background-color: $fruit-dove-red

  .animation
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    user-select: none
    opacity: .5

    @media (prefers-reduced-motion)
      display: none

    > div
      position: absolute
      font-size: 4rem
      font-weight: bold
      color: $cloud-dancer-grey

      @for $i from 1 to 10
        &:nth-child(#{$i})
          animation: fall (10s * (1 + nth($prng, $i * 10 + 0))) linear (10s * nth($prng, $i * 10 + 1)) infinite
          animation-fill-mode: both
          left: -0.5ch

          > div
            transform: translateX(nth($prng, $i * 10 + 2) * 100vw) rotateY((nth($prng, $i * 10 + 3) - .5) * 30deg) rotateZ((nth($prng, $i * 10 + 4) - .5) * 30deg)

@keyframes fall
  from
    opacity: 1
    transform: translateY(-20vh)
  to
    opacity: 1
    transform: translateY(120vh)
